body {
    font-family: sans-serif;
    transition: all 0.5s;
    background-color: white;
}

.status {
    position: fixed;
    bottom: 0;
    text-align: center;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,0.5);
    padding: 1em;
}